<!-- Services Section -->
    <section id="dynamika">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dynamika Open Access</h2>
                    <h3 class="section-subheading text-muted">Free edition of the leading cloud-based platform for standardised analysis of static and contrast-enhanced MRI.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-ban fa-stack-2x fa-inverse" style="font-size:1.75em; margin-top: 0.075em"></i>
                    </span>
                    <h4 class="service-heading">No cost - full functionality</h4>
                    <p class="text-muted">Dynamika Open Access is a fully featured, zero-cost version of Dynamika Enterprise that handles up to 20 MRI studies. Save time-consuming manual labor and get the most out of your data. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">State-of-the-art algorithms</h4>
                    <p class="text-muted">Apply patient motion correction, calculate contrast uptake curves and pharmacokinetic parameters and visualize this information on top of your images directly in your browser.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-reorder fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improved workflow</h4>
                    <p class="text-muted">Fetch images from PACS, draw Regions of Interest (ROIs) and have Dynamika automatically calculate statistics for each ROI and export them to PDF, Microsoft Word and Microsoft Excel format.</p>
                </div>
            </div>
        </div>
    </section>
