<!-- About Section -->
    <section id="workflow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workflow</h2>
                    <h3 class="section-subheading text-muted">Example: How to analyse a Dynamic Contrast Enhanced MRI (DCE-MRI) of an inflamed joint with Rheumatoid Arthritis.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/workflow/upload.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1</h4>
                                    <h4 class="subheading">Upload data</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Load your DICOM images into Dynamika from your computer or PACS. Built-in regulatory compliant patient de-identification ensures that you never have to worry about sensitive patient data leaving your hospital.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/workflow/motioncorrection.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2</h4>
                                    <h4 class="subheading">Motion correction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dynamika will automatically correct images so that patient motion during image acquisition does not affect subsequent analysis. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/workflow/rois.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3</h4>
                                    <h4 class="subheading">Draw ROIs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dynamika will automatically identify and label contrast uptake patterns. Colour-coded parametric maps help you to accurately detect and differentiate tissue which dramatically speeds up drawing 2D and 3D Regions of Interest (ROIs).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/workflow/report.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4</h4>
                                    <h4 class="subheading">Download reports</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sensitive imaging biomarkers are automatically generated for all ROIs and reported in PDF, Microsoft Word and Microsoft Excel format for easy subsequent analysis or patient monitoring.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
